USE [master]
GO
/****** Object:  Database [PracticeDatabase]    Script Date: 22-01-2026 15:39:15 ******/
CREATE DATABASE [PracticeDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PracticeDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\PracticeDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PracticeDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\PracticeDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PracticeDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PracticeDatabase]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 22-01-2026 15:39:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] NOT NULL,
	[FullName] [varchar](100) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[Segment] [varchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 22-01-2026 15:39:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Id] [varchar](50) NOT NULL,
	[Name] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 22-01-2026 15:39:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[PaymentMode] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Customers] ([CustomerId], [FullName], [City], [Segment], [IsActive], [CreatedOn]) VALUES (101, N'Harsh Yadav', N'Kanpur', N'Retail', 1, CAST(N'2025-10-12' AS Date))
INSERT [dbo].[Customers] ([CustomerId], [FullName], [City], [Segment], [IsActive], [CreatedOn]) VALUES (102, N'Yash', N'Kanpur', N'Corporate', 1, CAST(N'2025-10-09' AS Date))
INSERT [dbo].[Customers] ([CustomerId], [FullName], [City], [Segment], [IsActive], [CreatedOn]) VALUES (103, N'John Lennon', N'Liverpool', N'Retail', 0, CAST(N'2026-09-15' AS Date))
GO
INSERT [dbo].[Department] ([Id], [Name]) VALUES (N'21', N'cleaning')
INSERT [dbo].[Department] ([Id], [Name]) VALUES (N'23', N'painting')
INSERT [dbo].[Department] ([Id], [Name]) VALUES (N'24', N'washing')
GO
INSERT [dbo].[Orders] ([OrderId], [CustomerId], [OrderDate], [Amount], [Status], [PaymentMode]) VALUES (5001, 101, CAST(N'2026-01-10' AS Date), CAST(1200.00 AS Decimal(10, 2)), N'Delivered', N'UPI')
INSERT [dbo].[Orders] ([OrderId], [CustomerId], [OrderDate], [Amount], [Status], [PaymentMode]) VALUES (5002, 101, CAST(N'2026-01-15' AS Date), CAST(850.00 AS Decimal(10, 2)), N'Pending', N'Card')
INSERT [dbo].[Orders] ([OrderId], [CustomerId], [OrderDate], [Amount], [Status], [PaymentMode]) VALUES (5003, 102, CAST(N'2026-01-05' AS Date), CAST(5000.00 AS Decimal(10, 2)), N'Delivered', N'Card')
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
/****** Object:  StoredProcedure [dbo].[MyPractice]    Script Date: 22-01-2026 15:39:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 -- =============================================
-- Author:		Harsh Yadav
-- Create date: 22nd Jan
-- Description:	!st Procedure to implementation
-- =============================================

CREATE   PROCEDURE [dbo].[MyPractice]
     @City VARCHAR(50)
 AS
 BEGIN
     SELECT * 
     FROM dbo.Customers
     WHERE City = @City;
 END;
GO
/****** Object:  StoredProcedure [dbo].[MyPractice2]    Script Date: 22-01-2026 15:39:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MyPractice2]
    @City VARCHAR(50)
AS
BEGIN
    SELECT * 
    FROM dbo.Customers
    WHERE City = @City;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateDepartmentTable]    Script Date: 22-01-2026 15:39:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




 -- =============================================
-- Author:		Harsh Yadav
-- Create date: 22nd Jan
-- Description:	Created a Procedure to CReating the table department
-- =============================================
CREATE   PROCEDURE [dbo].[SP_CreateDepartmentTable]
AS
BEGIN
    DROP TABLE IF EXISTS dbo.Department;

    CREATE TABLE dbo.Department
    (
        Name VARCHAR(100),
        City VARCHAR(50)
    );

    PRINT 'Department table recreated successfully!';
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCustomerByNameAndCity]    Script Date: 22-01-2026 15:39:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 -- =============================================
-- Author:		Harsh Yadav
-- Create date: 22nd Jan
-- Description:	Created a Procedure to GetCustomerByNameAndCity
-- =============================================
 CREATE   PROCEDURE [dbo].[SP_GetCustomerByNameAndCity]
 	@Name varchar(100),
 	@City varchar(50)
AS
 BEGIN
 	SELECT * from Customers WHERE FullName = @Name and City = @City;
 END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertIntoDepartmentViaGUI]    Script Date: 22-01-2026 15:39:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



 -- =============================================
-- Author:		Harsh Yadav
-- Create date: 22nd Jan
-- Description:	Created a Procedure to Insert Into Department Via GUI!
-- =============================================
CREATE   PROCEDURE [dbo].[SP_InsertIntoDepartmentViaGUI]
@Id VARCHAR(50), 
@Name VARCHAR(100)
as BEGIN
INSERT INTO dbo.Department
                  (Id, Name)
VALUES (@Id, @Name)
END 
GO
USE [master]
GO
